.container_parte_4_container {
    background-color: #dedede2f;
    padding: 80px 20px;

}

.container_parte_4_texto_sobre_nos {
    max-width: 1024px;
    margin: 10px auto 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container_parte_4_texto_sobre_nos p {
    line-height: 30px;
}

.container_parte_4_imagem_e_texto {
    max-width: 1024px;
    margin: auto auto;
    display: flex;
    flex-wrap: wrap;
}

.container_parte_4_imagem {
    width: 100%;
    height: 100%;
}

.container_parte_4_container_imagem {
    border: 1px solid #c4c4c4;
    height: 300px;
    width: 50%;
}

.container_parte_4_texto {
    border: 1px solid #c4c4c4;
    height: 300px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

.container_parte_4_texto h4 {
    font-size: 32px;
}

.container_parte_4_texto p {
    font-size: 22px;
    color: #7d7c7c;
}



@media (max-width: 375px) {
    .container_parte_4_imagem_e_texto {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    .container_parte_4_container_imagem,
    .container_parte_4_texto {
        width: 100%;
    }

    .container_parte_4_container {
        width: 92%;
        margin: 0 auto;
        padding-bottom: 60px;
    }


}