.container {
    height: 100vh;
    background-image: url("../../../public/capa.png");
    width: 100%;
    background-size: cover;
    background-position-x: center;
    display: flex;

}

.container_texto {
    margin: auto 0 auto 12%;
    height: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    max-width: 35%;
}


.container_texto p {
    color: #c4c4c4;
    font-size: 25px;
}

.container_texto h1 {
    color: #fff;
    font-size: 43px;
    letter-spacing: 6px;
}

@media (max-width: 765px) {
    .container {
        background-position-x: 88%;
    }


    .container_texto {
        background-color: rgba(0, 0, 0, 0.548);
        height: 250px;
        margin-left: 98px;
        margin-bottom: 28%;
        max-width: 44%;
    }
}


@media (max-width: 268px) {
    .container_texto {
        max-width: 90%;
        margin-bottom: 47%;
        margin-left: 20px;
        height: 350px;
    }

    .container {
        width: 100%;
    }
}